:root{
  --accent-color: #ff8000;
  --shade-color: #e8decf;
  --neutral-dark: #111729;
}

/* ------Profile Card------- */
.container{
  padding: 1rem;
  max-height: 500px;
}
.card-body {
  width: 300px;
  height: 450px;
  /* box shadow generator candle --https://html-css-js.com/css/generator/box-shadow/--*/
  -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 12px 5px 15px 5px rgba(232,222,207,0); 
  box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 12px 5px 15px 5px rgba(232,222,207,0);
  background: var(--shade-color);
}
.basic-intro{
  text-align: center;
}
.profile-img{
  position: relative;
  left: 25%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid var(--accent-color);
  -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 12px 5px 15px 5px rgba(232,222,207,0); 
  box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 12px 5px 15px 5px rgba(232,222,207,0);
}
.userName{
  font-size: 20px;
  font-weight: bold;
  color: var(--neutral-dark);
}
.title{
  font-weight: bold;
  font-size: 16px;
  color: var(--accent-color);
}

/* link-section */
.link-section{
  overflow: auto;
  text-align: center;
}
.link-section > .left, .right {
  width: 40%;
  margin: 5px 5px;
  padding: 2px;
}
.left{
  float: left;
}
.right{
  float: right;
}

.link-button{
  border: 1px solid var(--neutral-dark);
  color: var(--neutral-dark);
  font-weight: bold;
  font-size: 14px;
}

.link-button:hover{
  background-color: var(--neutral-dark);
  cursor: pointer;
  color: var(--shade-color);
}

.card-about{
  margin-top: 1rem;
}
.card-heading{
  color: var(--accent-color);
  text-decoration: underline;
  font-weight: bold;
}
.card-text{
  font-size: 12px;
  letter-spacing: 1px;
}
hr{
  margin-top:5px;
  color: var(--accent-color);
}
.card-footer-section{
  position: relative;
}
.footer-icon{
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.logo1:hover, .logo2:hover, .logo3:hover, .logo4:hover{
  transform: scale(1.2);
}
